<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous" />
    <title>Razor Fun!</title>
</head>
<body>
    <h1>Here are some Delicious foods!</h1>

    @{
        List<string> FoodList = new() {"Apple Pie", "Pizza", "Cinnamon Rolls", "Lasagna", "Donuts","Chocolate Cake","Burritos"};

        foreach(string food in FoodList)
        {
            if(food[0] == 'C')
            {
                <p class="text-danger">@food</p>
            } else {
                <p>@food</p>
            }

        }
    }
</body>
</html>